<template>
  <Layout>
    <div
      v-if="!loadingPost"
      class="text-main pb-4 border-b border-main-a70 mb-8"
    >
      <h1 class="text-xl font-bold leading-relaxed">{{ post.title }}</h1>
      <span>
        <span class="text-accent">author</span>
        <router-link :to="{ name: 'User', params: { userid: post.by } }">
          :&nbsp;{{ post.by }}
        </router-link>
      </span>
      <span class="mx-2">&#8226;</span>
      <a target="_blank" class="underline hover:text-accent" :href="post.url">{{
        postUrl.host
      }}</a>
    </div>
    <div class="text-main" v-else>loading...</div>
    <template v-if="!loading">
      <ul v-if="!loading">
        <Comment :key="value" :id="value" v-for="value in post.kids" />
      </ul>
    </template>
    <template v-else>
      <div class="text-main">loading...</div>
    </template>
  </Layout>
</template>

<script>
import Comment from "@/components/Comment.vue";
import Layout from "@/components/Layout.vue";
import { mapState } from "vuex";

export default {
  name: "Comments",
  components: {
    Comment,
    Layout
  },
  created() {
    this.$store
      .dispatch("getPost", this.$route.params.postid)
      .then(() => (this.loadingPost = false));
  },
  data() {
    return {
      loadingPost: true,
      loading: true
    };
  },
  watch: {
    post: "fetchComments"
  },
  computed: {
    ...mapState({
      post: state => state.currentPost,
      comments: state => state.commentList,
      fetchStatus: state => state.fetchStatus
    }),
    postUrl: function() {
      return this.post.url ? new URL(this.post.url) : "";
    }
  },
  methods: {
    fetchComments(post) {
      this.loading = true;
      this.$store
        .dispatch("fetchComments", post)
        .then(() => (this.loading = false));
    }
  }
};
</script>
