<template>
  <Layout>
    <div class="flex wrapper h-full">
      <aside class="hidden lg:block top-0 flex-1 w-6/12">
        <div class="h-full">
          <nav>
            <ul>
              <li class="text-center">
                <router-link
                  class="c-category-link"
                  to="/topstories"
                  :data-category="CATEGORY.TOP"
                >
                  TOP
                </router-link>
              </li>
              <li class="c-category-item text-center">
                <router-link
                  class="c-category-link"
                  to="/newstories"
                  :data-category="CATEGORY.NEW"
                >
                  NEW
                </router-link>
              </li>
              <li class="c-category-item text-center">
                <router-link
                  class="c-category-link"
                  to="/beststories"
                  :data-category="CATEGORY.BEST"
                >
                  BEST
                </router-link>
              </li>
              <li class="c-category-item text-center">
                <router-link
                  class="c-category-link"
                  to="/askstories"
                  :data-category="CATEGORY.ASK"
                >
                  ASK
                </router-link>
              </li>
              <li class="c-category-item text-center">
                <router-link
                  class="c-category-link"
                  to="/showstories"
                  :data-category="CATEGORY.SHOW"
                >
                  SHOW
                </router-link>
              </li>
              <li class="c-category-item text-center">
                <router-link
                  class="c-category-link"
                  to="/jobstories"
                  :data-category="CATEGORY.JOBS"
                >
                  JOBS
                </router-link>
              </li>
            </ul>
          </nav>
        </div>
      </aside>
      <div v-if="fetchStatus === 'successful'" class="flex-1 p-4 w-6/12 h-full">
        <ol>
          <Post
            v-for="(post, index) in newsList"
            :key="post.id"
            :id="post.id"
            :number="15 * (page - 1) + index"
            :comments="post.descendants"
            :link="post.url || ''"
            :points="post.score || ''"
            :author="post.by || ''"
            :title="post.title || 'no-title'"
          />
        </ol>
        <div class="text-main flex justify-between">
          <router-link
            class="hover:text-accent"
            v-if="page > 1"
            :to="{ name: category, params: { page: page - 1 } }"
          >
            prev
          </router-link>
          <span class="cursor-default text-main-a70 hover:line-through" v-else
            >prev</span
          >
          <router-link
            class="hover:text-accent"
            v-if="maxPage >= page"
            :to="{ name: category, params: { page: page + 1 } }"
          >
            next
          </router-link>
          <span class="cursor-default text-main-a70 hover:line-through" v-else
            >next</span
          >
        </div>
      </div>
      <div
        v-else-if="fetchStatus === 'loading'"
        class="flex-1 w-6/12 h-full text-white text-center m-auto"
      >
        Loading...
      </div>
    </div>
  </Layout>
</template>

<style scoped>
aside {
  top: 0;
}
li {
  @apply mb-2;
}
.c-category-link {
  @apply text-3xl text-main font-bold;
}
.c-category-link:hover {
  @apply text-gray-600;
}
.router-link-active {
  @apply text-accent;
}
</style>

<script>
import Layout from "@/components/Layout.vue";
import Post from "@/components/Post.vue";
import { mapState } from "vuex";

export default {
  name: "ItemList",
  props: {
    category: String
  },
  components: {
    Layout,
    Post
  },
  data() {
    return {
      CATEGORY: {
        TOP: "topstories",
        NEW: "newstories",
        BEST: "beststories",
        ASK: "askstories",
        SHOW: "showstories",
        JOBS: "jobstories"
      }
    };
  },
  computed: {
    ...mapState({
      newsList: state => state.newsList,
      fetchStatus: state => state.fetchStatus,
      maxPage: state => state.maxPage
    }),
    page() {
      return Number(this.$route.params.page) || 1;
    }
  },
  watch: {
    page: "fetchItems"
  },
  methods: {
    fetchItems() {
      this.$store.dispatch("getStories", {
        category: this.category,
        page: this.$route.params.page || 1
      });
    }
  }
};
</script>
