<template>
  <Layout>
    <h1 class="text-2xl text-main text-bold mb-4 pb-2 border-b border-gray-700">
      Profile
    </h1>
    <div v-if="!loading">
      <UserProfile v-if="user" :user="user" />
    </div>
    <div class="text-main" v-else>
      loading...
    </div>
  </Layout>
</template>

<script>
import Layout from "@/components/Layout.vue";
import UserProfile from "@/components/UserProfile.vue";
import { mapState } from "vuex";

export default {
  name: "User",
  components: {
    UserProfile,
    Layout
  },
  data() {
    return {
      loading: false
    };
  },
  created() {
    this.getUser();
  },
  computed: {
    ...mapState({
      user: state => state.user
    })
  },
  methods: {
    getUser() {
      this.loading = true;
      this.$store
        .dispatch("fetchUser", this.$route.params.userid)
        .then(() => (this.loading = false));
    }
  }
};
</script>
