<template>
  <li class="last:pb-0 pb-4">
    <div v-if="comment">
      <div
        @click.prevent="hideTree"
        class="hover:text-accent cursor-pointer c-comment__title text-main font-bold text-sm mb-2"
      >
        <span>
          {{ comment.by }}
        </span>
        |
        <span>
          {{
            this.comment.time &&
              new Date(this.comment.time * 1000).toLocaleString("en", options)
          }}
        </span>
      </div>
      <transition
        appear
        v-on:enter="enter"
        v-on:after-enter="afterEnter"
        v-on:leave="leave"
        v-bind:css="false"
      >
        <div v-show="show" class="text-main c-comment__meta">
          <div class="c-comment-text" v-html="comment.text" />
          <ul
            class="my-4 border-l border-gray-700 pl-8"
            v-if="comment && comment.kids && comment.kids.length"
          >
            <Comment :key="value" v-for="value in comment.kids" :id="value" />
          </ul>
        </div>
      </transition>
    </div>
  </li>
</template>

<style scoped>
.c-comment__meta {
  overflow: hidden;
}
.slide-enter-active {
  animation: slide 0.5s;
}
.slide-leave-active {
  animation: slide 0.5s reverse;
}
@keyframes slide {
  0% {
    overflow: hidden;
    height: 100%;
  }
  100% {
    height: 0;
  }
}

</style>

<style>
.c-comment-text a,
.c-comment-text a:visited {
  @apply underline;
}
.c-comment-text a:hover {
  @apply text-accent;
}
</style>

<script>
import Velocity from "velocity-animate";

export default {
  name: "Comment",
  props: {
    id: Number
  },
  data: () => {
    return {
      options: {
        weekday: "long",
        year: "numeric",
        month: "long",
        day: "numeric"
      },
      show: true
    };
  },
  computed: {
    comment() {
      return this.$store.state.commentList[this.id];
    }
  },
  methods: {
    hideTree() {
      this.show = !this.show;
    },
    leave(el, done) {
      const height = el.offsetHeight;
      el.dataset.height = height;
      Velocity(
        el,
        { height: [0, height] },
        { duration: "normal", complete: done }
      );
    },
    enter(el, done) {
      Velocity(
        el,
        { height: el.dataset.height + "px" || "100%" },
        { duration: "normal", complete: done }
      );
    },
    afterEnter(el) {
      el.style.height = "auto";
    }
  }
};
</script>
