<template>
  <header class="w-full flex-shrink-0">
    <div
      class="px-4 py-1 flex flex-col sm:flex-row justify-between items-center"
    >
      <router-link to="/" class="title text-main font-bold text-xl"
        >Darker Vues</router-link
      >
      <nav class="lg:hidden text-main">
        <ul class="flex">
          <li class="text-center">
            <router-link class="c-category-link" to="/topstories">
              TOP
            </router-link>
          </li>
          <li class="c-category-item text-center">
            <router-link class="c-category-link" to="/newstories">
              NEW
            </router-link>
          </li>
          <li class="c-category-item text-center">
            <router-link class="c-category-link" to="/beststories">
              BEST
            </router-link>
          </li>
          <li class="c-category-item text-center">
            <router-link class="c-category-link" to="/askstories">
              ASK
            </router-link>
          </li>
          <li class="c-category-item text-center">
            <router-link class="c-category-link" to="/showstories">
              SHOW
            </router-link>
          </li>
          <li class="c-category-item text-center">
            <router-link class="c-category-link" to="/jobstories">
              JOBS
            </router-link>
          </li>
        </ul>
      </nav>
    </div>
    <div>
      <div class="w-full h-1 bg-main-a70 mb-1" />
      <div class="w-full h-2 bg-accent-a70" />
    </div>
  </header>
</template>

<style scoped>
li:not(:first-of-type) {
  margin-left: 0.5rem;
}
.router-link-active {
  @apply text-accent;
}
.title {
  @apply text-main;
}
</style>

<script>
export default {
  name: "Header"
};
</script>
