<template>
  <div class="flex bg-secondary flex-col min-h-full">
    <Header msg="Welcome to Your Vue.js App" />
    <main class="flex-grow h-full container mx-auto px-2 py-6">
      <slot></slot>
    </main>
    <Footer />
  </div>
</template>

<style>
</style>

<script>
import Header from "@/components/Header.vue";
import Footer from "@/components/Footer.vue";

export default {
  components: {
    Header,
    Footer
  }
};
</script>

