<template>
  <li class="text-main text-lg first:mt-0 mt-4">
    <a
      :href="commentsLink"
      class="c-title cursor-pointer relative block"
      :data-index="number + 1"
    >
      <h2 class="inline">{{ title }}</h2>
    </a>
    <div class="flex text-sm justify-between flex-wrap">
      <div class="mr-2 c-left">
        <div class="leading-relaxed">
          <span class="text-accent">host: </span><a :href="link">{{ host }}</a>
        </div>
        <div class="">
          <span class="text-accent">author: </span>
          <router-link :to="{ name: 'User', params: { userid: author } }">{{
            author
          }}</router-link>
        </div>
      </div>
      <div class="leading-relaxed c-right">
        <div class="">
          <span class="text-accent">points: </span>{{ points }}
        </div>
        <div class="">
          <router-link
            :to="{ name: 'Comments', params: { postid: id } }"
            class="text-accent"
            >comments:</router-link
          >&nbsp;{{ comments }}
        </div>
      </div>
    </div>
  </li>
</template>

<style scoped>
.c-left {
  flex: 1 1 54%;
}
.c-right {
  flex: 1 1 42%;
}
.c-title {
}
.c-title:before {
  content: attr(data-index);
  position: absolute;
  top: 0;
  left: -3.5rem;
  text-align: right;
  min-width: 3rem;
}
</style>

<script>
export default {
  name: "Post",
  props: {
    id: Number,
    number: Number,
    title: String,
    comments: Number,
    link: String,
    author: String,
    points: Number
  },
  data: function() {
    return {
      host: this.link ? new URL(this.link).host : "",
      commentsLink: "/comments/" + this.id
    };
  }
};
</script>
