<template>
  <div class="text-main container mx-auto">
    <h1 class="text-xl mb-2 font-bold">{{ user.id }}</h1>
    <div><span class="text-accent">created</span>: {{ created }}</div>
    <div v-if="user.karma">
      <span class="text-accent">karma</span>: {{ user.karma }}
    </div>
    <div v-if="user.about">
      <span class="text-accent">about</span>: {{ user.about }}
    </div>
  </div>
</template>

<script>
export default {
  props: {
    user: Object
  },
  data() {
    return {
      created: new Intl.DateTimeFormat("en-US").format(
        new Date(this.user.created * 1000)
      )
    };
  }
};
</script>
