<template>
  <div id="app">
    <router-view />
  </div>
</template>

<style>
:root {
  --color-main: #f1eded;
  --color-main-transparent: hsla(0, 12%, 93%, 0.7);
  --color-secondary: #181818;
  --color-accent: #ff6600;
  --color-accent-transparent: hsla(24, 100%, 50%, 0.7);
}
body,
html {
  height: 100%;
}
#app {
  min-height: 100vh;
  height: 100%;
  @apply bg-secondary;
}
@tailwind base;
@tailwind components;
@tailwind utilities;
</style>
